# Copy to .env.local and fill in your Supabase project values.
NEXT_PUBLIC_SUPABASE_URL=https://comxfdpwbixzsmtjrtbi.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNvbXhmZHB3Yml4enNtdGpydGJpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODYwMjE0ODEsImV4cCI6MjEwMTU5NzQ4MX0.pMwXFWKCqR2i19FiKsIe4vDjLxkKeaqI2AW9MOIf_iI
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_T6Y5fbsOxqQJ-wFj0tKEXQ_PtswI63t
